doctype html

- unless @prod_house.nil?

  p.text-warning Editing Production House Data for <i>'#{@prod_house.ph_name}'</i>

  = form_for @prod_house, :html => {:class => "form-horizontal center"}, :url => production_house_update_path(@prod_house), method: :patch do |f|

    .form-group
      = f.label :ph_name, "Production House Name", class: "col-md-4 control-label"
      .col-md-8
        = f.text_field :ph_name, class: "form-control"

    .form-group
      = f.label :ph_headquarters, "Production House Headquarters", class: "col-md-4 control-label"
      .col-md-8
        = f.text_field :ph_headquarters, class: "form-control"

    .form-group
      = f.label :ph_establishment_year, "Production House Establishment Year", class: "col-md-4 control-label"
      .col-md-8
        = f.text_field :ph_establishment_year, class: "form-control"

    .form-group
      = f.label :ph_description, "Production House Description", class: "col-md-4 control-label"
      .col-md-8
        = f.text_area :ph_description, class: "form-control"

    br

      = f.submit "Edit Production House Data", class: "btn btn-danger"

- else

  p.text-warning
    | No Production House Data Available For Editing. Please Try Again Later. Thank You!
