doctype html

h1. List of Production Houses

- unless @prod_houses.empty?

    table.table.table-bordered
      thead
        tr.table-warning
          th Production House Name
          th Production House Country
          th Production House HeadQuarters
          /!th Production House Establishment Year

      - @prod_houses.each do |prod_house|
        tbody
          tr.table-success
            td.name = prod_house.ph_name
            td.description = prod_house.ph_country
            td.headquarters = prod_house.ph_headquarters
            /!td.establishment_year = fill_up_blank_values_ph_year(prod_house)
- else

  p.text-danger
    | No Production Houses found. Please Try Again Later. Thank you!
