doctype html

- unless @prod_house.nil?

  h5 Kindly Find Details Listed Below For Production House <i> '#{@prod_house.ph_name}' </i>

  br

  table.table.table-bordered

    tr
      th.table-dark Name
      td = @prod_house.ph_name

    tr
      th.table-dark Description
      td = @prod_house.ph_description

    tr
      th.table-dark Establishment Year
      td = @prod_house.ph_establishment_year

    tr
      th.table-dark Headquarters
      td = @prod_house.ph_headquarters

    tr
      th.table-dark Country
      td = @prod_house.ph_country

- else

  p.text-warning
    | No Production House Data Found. Please Try Again Later. Thank you!
