doctype html
br/
br/
br/
.alert.alert-info role="alert"
  h4.alert-heading Welcome To The Movie Seeding Portal
  ul

    li type = 'circle' Please use this page to enter the movie title for which you would like to seed the data using API.
    li type = 'circle' Once the request has been submitted successfully for seeding purpose, the seeding process will automatically take place in the background.
    li type = 'circle' Upon completion of seeding, we will intimate the user via email informing the completion of the seeding process.
    hr/
    li.mb-0 type = 'disc' <b> Please enter an valid movie title below to intiate the seeding process.</b>
    li.mb-0 type = 'disc' <b> Please spell-check the movie title you wish to seed before placing the seed request. You can find the valid spell for the movie title on the official IMDB Movie Page.</b>
    li.mb-0 type = 'disc' <b> We make use of the TMDb API Endpoints in order to seed movie data.</b>

= form_with url: seed_movie_data_api_path, :html => {:class => "form-horizontal center"}, method: :post  do |f|

  .form-group
    .col-md-8
      = f.label :mov_title, "Enter Movie Title ", class: "control-label"
    .col-md-4
      = f.text_field :mov_title, class: "form-control"
    br
    .col-md-8
      = f.label :mov_language, "Please Select Language", class: "control-label"
    .col-md-4
      = f.select(:mov_language, options_from_collection_for_select(@languages, "lang_iso_code", "lang_name"), {:prompt => 'Select Valid Language Choice From List Below'}, {:class => "form-control"})

  br

    = f.submit "Seed Movie Data", class: "btn btn-danger"
