br/
br/
br/
.alert.alert-info role="alert"
  h4.alert-heading Well done!
  p The request to seed movie data for #{@movie_title} has been submitted successfully.
  hr/
  p.mb-0 We will intimate you through email once your seeding request has been successfully processed.
