doctype html
html
  head
    title Tinsel Woods - Your One-Stop Destination for All Things Cinema!
    = csrf_meta_tags
    = csp_meta_tag

    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render 'shared/header'
    .container.alert-box
      = render 'shared/flash'
    .container
      .row
        .col-md-12
          = yield
    br/      
    = render 'shared/footer'
